<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.tungsten.mobilesdkplugin">

    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-feature android:name="android.hardware.camera"/>
    <application
        android:largeHeap="true"
        android:hardwareAccelerated="false">
        <activity
            android:name="com.tungsten.mobilesdkplugin.CaptureActivity"
            android:screenOrientation="portrait"
            android:exported="true"
            android:theme="@style/NoTitleBar">
        </activity>
    </application>

</manifest>
